# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# Maven
target/
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# gitignore
.gitignore

# nodejs
node_modules/